@use "../../styles/mixins"as *;
@use "../../styles/variables"as *;

.select-property {

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    max-width: 30rem;

    &__main {
        height: 3rem;
        width: 100%;
        border: blue solid 1px;
        background-color: white;
        border-radius: 0.5rem;
        border: 1px solid #f1f1f1;
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__options {
        scrollbar-color: green blue;
        display: flex;
        flex-direction: column;
        margin-top: 3.5rem;
        // margin-right: 10.5rem;
        border: 1px solid #f1f1f1;
        // padding-right: 3rem;
        position: absolute;
        box-shadow: 0px 0px 10px $modal-border;
        z-index: 10;
        // height: 10rem;
        width: 100%;
        // height: 15rem;
        border-radius: 0.5rem;
     
        // border: 1px solid #f1f1f1;
        background-color: white;
        // display: none;

        &--disable {
            display: none;
        }
    }

    &__option {
        height: 3rem;
        width: 100%;
        // border: blue solid 1px;
        background-color: white;
        // border-radius: 0.5rem;
        // border: 1px solid #f1f1f1;
        // right: 4rem;
        display: flex;
        justify-content: space-between;
        padding: 0rem 1.5rem;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: rgb(189, 215, 240);

        }
        
        &--active {
            color: white;
            background-color: rgb(37, 137, 232);
            svg {
                color: white;
            }
            &:hover {
                background-color: rgb(37, 137, 232);
                
            }
        }
    }

    &__check {
        // color: white;
        // display: none;
        // visibility: hidden;
    }
}

.container {
    overflow-y: scroll;
    height: 12rem;

    &::-webkit-scrollbar {
        width: 0.75rem;

        color: white;
        // outline: 1px solid $navbar-active;
        // border-radius: 1rem;
        // scrollbar-width: 1rem;
        // scrollbar-color: green blue;
    }

    &::-webkit-scrollbar-thumb {
        // scrollbar-color: green;
        // background-color: green;
        background: $navbar-active;
        // scrollbar-width: 2rem;
        // color: red;
        // width: 4rem;
        // height: 2rem;
        
        border-radius: 10px;
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    &::-webkit-scrollbar-track {
        // background-color: white;
        // scrollbar-width: 2rem;
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-track-piece {
        // color: blue;
    }

    &::-webkit-scrollbar-corner {

    }
    

}

// body::-webkit-scrollbar {
//     width: 0.75rem;
//     color: red blue;
//     // background-color: blue;
//   }

//   body::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   }

//   body::-webkit-scrollbar-thumb {
//     background-color: $navbar-active;
//     // outline: 1px solid slategrey;
//   }