// colors
// $primary-background: rgb(5, 65, 72);
$primary-background: rgba(8, 19, 49, 0.95);
$secondary-text: rgba(8, 19, 49);
$primary-text: #fff;
$intro-title:  rgb(247, 247, 178);
$secondary-background: rgb(255, 255, 255);
$background-third: #f0f0f0;
$contrast-colour: #e06666;


// navbar
$navbar-active: #FFB600;
$navbar-background: #2b2b2b;
$navbar-button: #2f3437;

// buttons
$button-normal: #007BBD;
$button-hover: #006ba5;


// modal
$modal-border: #cccccc;
$modal-background: #fdfbf7;

// listing card
$open-house: #f58020;

// marker colours (progress bar)
$marker: rgb(218, 218, 218);

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

